* {
  box-sizing: border-box; 
}

@import url("//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css");

body {
  font-family: 'Varela Round', sans-serif;
  line-height: 1.6;
  color: #3a3a3a; 
  background-color: aliceblue;
}

.appName {
    float: left;
    margin-left: 50px; 
    color: white;
  }

.main-nav li {
        display: inline-block;
}

.main-nav {
    float: right;
    color: white;
    margin-top: 35px;
    position: relative; /* keeps circle from moving when resizing */
}

#topSearchBG {
    background-color: #F8F8F8;
    border-bottom: 1px solid #D3D3D3;
    border-left: 1px solid #D3D3D3;
    border-right: 1px solid #D3D3D3;
    position: absolute;
}


  .circle {
    height: 8px;
    width: 8px;
    background-color: #21ef21;
    display: block;
    top: 12px;
    left: 22px;
    border-radius: 100px;
    position: absolute;
    
}  


    #topSearchInput {
    position: relative;
    width:  340px;
    height: 28px;
    z-index: 1;
    border-radius: 7px;
}


#searchIcon {
    position: relative;
    height: 24px;
    width: 24px; 
    z-index: 3;
}

#alertMessage {
    height: 2.5em;
    background-color: #716ecc; 
    top: 55px;
    margin-left: 125px;
    width: 80em;
    border-radius: 10px;
}

#alertMessage p {
    position: relative;
    color: white;
    top: 8px;
    left: 15px;
}

#alertButton {
    position: absolute;
    color: white;
    background-color: #716ecc;
    border: none;
    right: 30px;
}

.bold {
    font-weight: bold;
}
  




/* ================================= 
  Media Queries
==================================== */
/* 768 px or wider */
@media (min-width: 768px) {

     .main-header {
      height: 5em; 
      background-color: #716ecc; 
      width: 48em;
    }
    
  .left-column {
        position:fixed; /* <-- fixes the left panel to prevent from scrolling */
        width:100px;
        height:800px;
        background: #44427a; 
        top: 80px; 
        bottom: 0px;
        list-style: none;
    }
  
   .main-nav {
    margin-right: 26px;
  }
    
    
  #topSearchBG {
    width: 33em;
    height: 4em;
    margin-left: 240px;
    margin-top: -60px;

  }
    
  #leftSubHeader {
    margin-left: 120px;
    font-size: 22px;
    margin-top: 25px;
  }
    
  .left-column li {
    padding-top: 30px;
    padding-left: 25px;
   }
    
   #topSearchInput {
     bottom: 50px;
     left:   400px;
    }
    
  #searchIcon {
     left: 360px;
     bottom: 43px;
   }
    
    #alertMessage {
    height: 4.5em;
    top: 55px;
    margin-left: 125px;
    width: 38em;
   
}

#alertMessage p {
    position: relative;
    color: white;
    top: 8px;
    left: 15px;
}

#alertButton {
    right: 30px;
    top: 35px;
}

.bold {
    font-weight: bold;
}
  
  
    
    
   
    
}

/* -------------------------------------------------*/

/* 1024 px or wider */
@media (min-width: 1024px) {

    
 .main-header {
  height: 6em; 
  background-color: #716ecc; 
  width: 65em;
}

.main-nav {
   margin-right: 37px;
}


#leftSubHeader {
    margin-left: 120px;
    font-size: 22px;
    margin-top: 25px;
}

#topSearchBG {
    width: 45em;
    height: 4em;
    margin-left: 86px;
    margin-top: 0px;
}
    


#topSearchInput {  
    bottom: 44px;
    left:   665px;
}
    
#searchIcon {
    left: 625px;
    bottom: 36px; 
}
    

.block {
    display: inline-block;
}


#alertMessage {
    height: 2.5em;
    background-color: #716ecc; 
    top: 55px;
    margin-left: 125px;
    width: 52em;
    border-radius: 10px;
}

#alertMessage p {
    position: relative;
    color: white;
    top: 8px;
    left: 15px;
}

#alertButton {
    right: 30px;
    top: 0px;
}

.bold {
    font-weight: bold;
}


.left-column {
  position:fixed; /* <-- fixes the left panel to prevent from scrolling */
  width:100px;
  height:800px;
  background: #44427a; 
  top: 94px; 
  bottom: 0px;
  list-style: none;
}

.left-column li {
    padding-top: 30px;
    padding-left: 25px;
}

#bar {
    border-left: 1px solid #656060; 
    height: 40px;
    margin-left: 10px;
    margin-right: 10px;
}


    
    
}



