/* ================================= 
  Global Imports
==================================== */
/* ================================= 
  Base Element Styles
==================================== */
* {
  box-sizing: border-box; 
}

body {
  font-family: 'Varela Round', sans-serif;
  line-height: 1.6;
  color: #3a3a3a; 
}

.main-header {
  height: 5em; 
  background-color: #716ecc; 
}

.main-nav {
    float: right;
    margin-top: 25px;
    margin-right: 170px; 
    color: white;
}

.appName {
    
}

#alertMessage {
    height: 2.5em;
    background-color: #716ecc; 
    margin-top: 20px;
    margin-left: 200px;
    width: 1100px;
    border-radius: 10px;
}


.left-column {
  position:fixed; /* <-- fixes the left panel to prevent from scrolling */
  top:0;
  left:0;
  width:100px;
  height:800px;
  background: #44427a; 
  top: 80px; 
  bottom: 0px;
}

.left-column li {
    padding-top: 30px;
}

.circle {
    height: 8px;
    width: 8px;
    background-color: #21ef21;
    display: block;
    position: absolute;
    border-radius: 100px;
    top: 38px;
    right: 230px;
}

#bar {
    border-left: 1px solid #656060; 
    height: 40px;
    margin-left: 10px;
    margin-right: 10px;
}

 #name {
     position: absolute;
     right: 40px;
     top: 38px;
}











/* ================================= 
  Media Queries
==================================== */
/* 768 px or wider */
@media (min-width: 768px) {


  
  .main-nav li {
    display: inline-block;
   }









/* 1024 px or wider */
@media (min-width: 1024px) {

  .appName {
    float: left;
    margin-left: 50px; 
    color: white;
  }

 
    
}



